.post_base {
    width: 100%;
    height: min-content;
    /* background-color: yellow; */
}




.navbar {
    width: 100%;
    height: 7vh;
    background-color: rgb(255, 255, 255);

    display: flex;
    align-items: center;
    justify-content: space-around;

    position: fixed;
    top: 0%;

    z-index: 1;


}






.nav_span_right {
    min-width: 7rem;
    height: 100%;
    /* background-color: rgb(255, 142, 142); */


    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;


}





.nav_text {
    font-size: x-small;
    color: grey;
    /* background-color: red; */

    /* width: 100%; */
    height: 50%;
    text-align: center;


    display: flex;
    align-items: center;
    justify-content: center;





}





.nav_img {
    width: 20%;
    height: 50%;


    border-radius: 50%;
    border: 1px solid rgb(230, 230, 230);
}





.logo {
    width: 5%;
    height: 100%;

    left: 5%;

}




.post_bottom {
    width: 100%;
    min-height: 100vh;
    height: min-content;
    background-color: rgb(234, 234, 234);
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    gap: 5%;

    padding-top: 7rem;

}















/* actual post */


.actual_post {
    width: 35%;
    height: 60vh;
    /* background-color: yellow; */
    background-color: white;

    margin-top: 3%;


}





.post_info_tab {
    width: 100%;
    height: 10%;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: start;


    /* border-bottom: 0.2px solid grey; */



}



.pic_tab {
    width: 100%;
    height: 80%;
}




.likes_tab {
    width: 100%;
    height: 5%;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    /* border-top: 1px solid grey; */
}











/* post info tab */



.profile_pic {
    width: 10%;
    height: 70%;


    border-radius: 50%;
}



.user_name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(60, 60, 60);
    font-size: x-small;

    /* background-color: red; */
}


.pic_and_name {
    /* background-color: red; */
    height: 100%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5%;



}



.img_delete {
    width: 5%;
    height: 100%;
    /* background-color: yellow; */

    display: flex;
    align-items: center;
    justify-content: center;


}


.img_cover {
    width: 100%;
    height: 50%;
}





/* Pic Tab */


.post_pic {
    width: 100%;
    height: 100%;
}





/* likes tab */




.like_btn {
    width: 5%;
    height: 90%;

    margin-right: 2%;
    margin-left: 2%;

}



.likers_len {
    font-size: x-small;
    text-align: center;
    color: rgb(75, 75, 75);
}



.nav_text {
    padding: 2%;





}












.border {
    border: 1px solid grey;


    border-radius: 1rem;

}




.invisible {
    display: none;
}




.loading_div {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(253, 253, 253);
}




.loader_img {
    /* width: 7%; */
    /* height: 10%; */

    animation: App-logo-spin 5s infinite;
}






.post_info_tab , .actual_post{
    border-radius: 0.5rem;
    /* background-color: red; */
}







/* Responsive */


/* Navbar */



@media only screen and (max-width:930px) {

    .border {
        border: none;
    }

    /* .nav_span_right {
        min-width: 15rem;
    } */

    .nav_text {
        width: 100%;
    }

    .actual_post {
        width: 50%;
        height: 70vh;
    }


    .nav_img {
        width: 10%;


    }





}





@media only screen and (max-width:500px) {

    .nav_text {
        font-size: 50%;
    }

    .actual_post {
        width: 70%;
    }




    .logo {
        width: 8%;
    }


    .nav_img {
        width: 13%;
        /* height: 65%; */


    }


    .nav_span_right {
        min-width: 7rem;
    }











}






@media only screen and (max-width:380px) {
    .nav_text {
        font-size: 40%;
    }

    .actual_post {
        width: 85%;
        height: 70vh;
    }

    .logo {
        width: 10%;

    }



    .nav_img {
        width: 15%;
        /* height: 65%; */


    }


}