






.priv-base{
    width: 100%;
    height: 100vh;
    background-color: red;

    display: flex;
    align-items: center;
    justify-content: center;
}





.users-list{
    width: 50%;
    height: 100%;
    background-color: pink;
    padding-top: 10%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 5%;


}


.user-one{
    width: 90%;
    height: 10%;
    background-color: rgb(118, 34, 214);
}